[Desktop Entry]
Version=1.0
Type=Application
Name=Wallhaven Viewer
Comment=Просмотр и загрузка обоев с Wallhaven.cc
# Укажите полный путь к вашему бинарнику в папке dist
Exec=wallhaven-viewer
# Укажите полный путь к вашей иконке
Icon=cc.wallhaven.Viewer
Terminal=false
Categories=Graphics;Utility;
Keywords=wallpaper;wallhaven;background;
StartupNotify=true